*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body{
    text-align: center;
    background-color: #497548;   
}

.content{
    width: 100vw;
    height: 100vh;
    padding: 1rem;
    text-align: center;
    background: linear-gradient(to bottom, #ae6c08, #497548 );
 
}

h1 {
    color: #e3e3e3;
    font-size: 3em;
    text-align: center;
  }
  
  h1:after, h1:before {
    content: '';
    display: block;
    width: 80px;
    height: 3px;
    background: #fdfcff;
    margin: 0 auto;
  }

@media screen and (min-width: 992px) {
    .content{
        max-width: 992px;
        height: 100vh;
        margin: 1rem auto;
        border-radius: 1rem;
    }    
}